* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grand-parent {
    padding: 4rem;
    background-color: red;
}

.parent {
    padding: 4rem;
    background-color: blue;
}

.child {
    padding: 4rem;
    background-color: green;
}