* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 3rem;
    background-color: aqua;
    display: inline-flex;
}

button, input, .input {
    border: 2px solid black;
    border-radius: 1000px;
    padding: 12px 16px;
}

dialog {
    padding: 8rem;
    margin: auto;
    border: none;
    border-radius: 2rem;
    /* display: flex;
    flex-direction: column; */
}